* {
    margin: 0;
    padding: 0;
}

.first-page {

    height: 90vh;
    background: rgba(229, 84, 115, 0.10);
    display: flex;

}

.flower-1 {
    width: 635px;
    height: 800px;

}

.first-page-header {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.first-page-para {
    padding-top: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 32px;
}

.first-page-button {
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    color: white;

}

.left-site {
    padding-left: 243px;
    padding-top: 240px;
}

.right-site {
    padding-top: 10px;

}

.second-page {
    height: 180vh;
}

.second-page-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 178px;
}

.second-page-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;

}

.photo {
    display: flex;
    padding-top: 20px;
    margin: auto;
    gap: 30px;
    justify-content: center;
    padding-bottom: 40px;
    color: black;

}

.photo-1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.photo-2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.photo-3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.main-photo {
    margin: auto;
    padding: 50px;
}

.flower-info-div {
    display: flex;
    padding-left: 381px;
    padding-right: 381px;
    justify-content: space-around;
    gap: 300px;
    margin: auto;

}

.second-page-box {
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 220px 225px 100px 225px;
    padding: 30px;
    justify-content: space-around;
    text-align: center;

}

.flower-info-des {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}

.hot-deal {
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.hd-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 24px;
}

.red {
    color: #E55473;
}

.hd-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 24px;
}

.hd-btn {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: white;
}

.instrgram {
    height: 140vh;
}

.ins-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 100px;
}

.ins-para {
    width: 594px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding-left: 663px;
    padding-right: 630px;
    padding-top: 24px;
    padding-bottom: 30px;
}

.ins-div {
    display: flex;
    padding-left: 240px;
    padding-right: 240px;
    gap: 30px;

}

.subscribe-bar {
    width: 1480px;
    height: 300px;
    background-image: url("/Rectangle\ 9.png");
    background-repeat: no-repeat;
    margin: 100px 240px 100px 240px;

}

.sb-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 533px;
    padding-right: 533px;
    padding-top: 70px;
}

.sb-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.sb-text-box {

    align-items: center;
    justify-content: center;
    width: 700px;
    height: 60px;
    border: none;
    padding-bottom: 10px;
}

.box-t,
.sb-text-box {
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    gap: 20px;
    padding-bottom: 10px;
    padding-top: 8px;
}

.sb-button {
    width: 140px;
    height: 73px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: large;

}